body{
    font-family: "Special Elite",cursive;
    background: rgb(255, 226, 231);
}

.header_div{
    background: rgb(255, 255, 148);
color: rgb(86, 86, 139);
}

.header_div p {
    font-family: "Roboto",sans-serif;
    color: rgb(68, 87, 68);
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}

.main_div button{
    font-family: "Roboto",sans-serif;
    margin-top: 30px; 
    font-weight: bolder;
    letter-spacing: 3px;
    background-color: rgb(228, 115, 152);
    border-radius: 20px;
    color: greenyellow;
    font-size: 25px;
    padding: 1rem 3rem;
    border: 2px solid greenyellow;
    box-shadow: 1px 1px 3px grey;
}